<!DOCTYPE html>
<html>
	<head>
		<title> Mad Minute </title>
		<link rel="shortcut icon" href='favicon.ico'>
		<link rel="stylesheet" href="index.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset="utf-8">
		<meta name="keywords" content="education math mathematics multiplication arithmetic game quick kids children">
		<meta name="description" content="Learning multiplication through a quick and competitive game.">
		<meta name="author" content="Myron Liu">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between" style='padding-top: 1%'>
	  <a class="navbar-brand" href="./index.html">Mad Minute</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="./home.html">Home</a>
	      <a class="nav-item nav-link" href="./highscores.html">High Scores</a>
	      <a class="nav-item nav-link" href="./statistics.html">Statistics</a>
	      <a class="nav-item nav-link active" href="./contact.html">Contact<span class="sr-only">(current)</span></a>
	     </div>
     	     <div class="navbar-nav ml-auto">
     	<form class="form-inline" id='user-form' style='display: none'>
		    <div class="form-group mr-2">
		        <label class="sr-only" for="inputUsername">Username</label>
		        <input type="text" id='username' class="form-control" style='width: 90%'id="inputUsername" placeholder="Username" value="">
		    </div>
		    <div class="form-group mr-2">
		        <label class="sr-only" for="inputPassword">Password</label>
		        <input type="password" id='password' class="form-control" style='width: 90%' id="inputPassword" placeholder="Password" value="">
		    </div>
		    <div class="form-group mr-2">        
		        <label id='rememberlabel' style='color: #FFFFFF'><input type="checkbox" id='rememberbox' class="mr-1"> Remember me</label>
		    </div>
		    <button type="button" id='sign-in' onClick='submitSignIn()' class="btn btn-primary">Sign in</button>
		    <button type="button" id='sign-up' onClick='submitSignUp()' class="btn btn-primary">Sign up</button>
		</form>
	</div>
		<div class='navbar-nav ml-auto' id='profile' style='display: none'>
			<div class="dropdown">
					 <button class="btn btn-primary dropdown-toggle" type="button" id="username-label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				</button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <button class='dropdown-item' type="button" id='logout' onClick='logout()' class="btn btn-primary">Log out</button>
		  </div>
		</div>
	</div>
			</div>
	  	</div>
	</nav>

	<body id='home'>

		<div class="jumbotron" id='contact'>
  		<h1 class="display-4" > Contact Me </h1>
  		<div style='padding: 3%'/>
  		<p class="lead"> Hi there, my name is Myron - hope you enjoyed my game! This website was built with CSS, HTML, Javascript, and Bootstrap. It has a Node backend with Express client with Redis used for session management and MySQL database for data storage. If you have any suggestions for improvements to this game, any project ideas you would like to share with me, or would like to see my other work,  feel free to contact me from my personal website. </p>
  		<hr class="my-4">
  		<a class="btn btn-primary btn-lg" href="https://www.myronliu.me" role="button">Go to my personal website</a>
		</div>

	<script src='./login.js'> </script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
