#index {
	text-align: center;
	background: #cdebf9;
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-top: 8%;
}


#titlepage {
	padding-bottom: 5%;
}

#contact {
	text-align: center;
	background: #cdebf9;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 4%;
}

#navbar {
	display: block;
	padding-bottom: 2%;
	margin-bottom: 5%;
}

#home {	
	text-align: center;
	background: #cdebf9;
	max-width: 100%;
}

.nav-rank {
	color: #FFFFFF;
}

canvas {
	background: #F1F1F1;
	border: 1px solid black;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
}
